@media only screen and (max-width: 960px) {

  /* fonts */

  @font-face {
    font-family: apercu-light;
    src: url(fonts/apercu/apercu-light.otf);
  }
  
  @font-face {
    font-family: apercu-regular;
    src: url(fonts/apercu/apercu-regular.otf);
  }
  
  @font-face {
    font-family: apercu-bold;
    src: url(fonts/apercu/apercu-bold.otf);
  }
  
  @font-face {
    font-family: apercu-medium;
    src: url(fonts/apercu/apercu-medium.otf);
  }
  
  @font-face {
    font-family: cormorant-bold;
    src: url(fonts/cormorant/cormorant-bold.otf);
  }


  /* general styling */

  body {
    font-family: apercu-light;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
    
  b {
    font-family: apercu-regular;
  }
    
  strong {
    font-family: apercu-bold;
  }

  button:focus {
    outline: 0;
  }


  /* announcement bar */
    /* removes border radius and margin */
    .alert {
      border-radius: 0;
      margin-bottom: 0rem;
    }
  
    /* gives style to background, border and font */
    .alert-warning {
      background-color: #f1f1f1;
      border-color: #e1e1e1;
      color: black;
    }


}